// Colors

$primary_color: #155CB4;
$secondary_bg_color: #f1f2f4;
$secondary_color: #42526e;
$white: #fff;
$off_white: #ddd;
$black: #000;
$black4: #444;
$grey: #777;


// Font size

$normal: 1.2rem;
$small: 1rem;


// Media Query

$mobile: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$below-desktop: "(max-width: 768px)";
