// Colors

$primary_color: #ffe600;
$secondary_bg_color: #e4e4e4;
$secondary_color: #42526e;

$white: #fff;
$off_white: #ddd;
$white2: #bbb;
$grey: #777;
$comment_bg: #dcdcdc;
$black: #000;
$black4: #444;
$black2: #2e2e38;


// Font size

$normal: 1.2rem;
$small: 1rem;


// Media Query

$mobile: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$below-desktop: "(max-width: 768px)";
$desktop: "(min-width: 1024px)";
