@import '../../../../assets/scss/index.scss';

.login-wrapper {
    height: 100%;
    width: 100%;
    background-image: url('../../../../assets/image/blur-background-3840x2400-spectrum-electromagnetic-4k-901.jpg');
    display: flex;
    align-items: center;
    justify-content: center;

    .login-container {
        display: inline-flex;
        justify-content: center;
        padding: 60px 60px 20px;
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 0px 10px 2px $black4;
        position: relative;

        @media #{$mobile} {
            padding: 60px 20px 20px;
        }

        .logo-wrapper {
            justify-content: center;
            display: flex;
            align-items: center;
            position: absolute;
            top: -70px;
            left: calc(50% - 50px);
            box-shadow: 0px 0px 10px 0px #777;
            border-radius: 50%;

        }

        .logo-container {
            background-image: url('../../../../assets/image/R-icon.png');
            height: 100px;
            display: inline-block;
            width: 100px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .login-row {
            margin: 20px 0;

            input {
                min-width: 300px;
                border-radius: 5px;
                padding: 10px;
                
                &.text-input {
                    border: 1px solid $grey;
                }

                @media #{$mobile} {
                    width: 250px;
                }

                &:hover,
                &:focus,
                &:active {
                    outline: none;
                }

                &.submit-button {
                    display: block;
                    margin: 10px 0;
                }
            }
        }
    }
}